HK3/CongNgheLapTrinhHienDai/TaiLieu_BaiTap/D02/1642021/BaiTap3_Phap_Viet/Web References/PhapAnhServiceProxy/PhapAnhService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InitDictionary">
        <s:complexType />
      </s:element>
      <s:element name="InitDictionaryResponse">
        <s:complexType />
      </s:element>
      <s:element name="Translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="frenchMean" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InitDictionarySoapIn">
    <wsdl:part name="parameters" element="tns:InitDictionary" />
  </wsdl:message>
  <wsdl:message name="InitDictionarySoapOut">
    <wsdl:part name="parameters" element="tns:InitDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapIn">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:portType name="PhapAnhServiceSoap">
    <wsdl:operation name="InitDictionary">
      <wsdl:input message="tns:InitDictionarySoapIn" />
      <wsdl:output message="tns:InitDictionarySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateSoapIn" />
      <wsdl:output message="tns:TranslateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhapAnhServiceSoap" type="tns:PhapAnhServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitDictionary">
      <soap:operation soapAction="http://tempuri.org/InitDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PhapAnhServiceSoap12" type="tns:PhapAnhServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InitDictionary">
      <soap12:operation soapAction="http://tempuri.org/InitDictionary" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Translate">
      <soap12:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhapAnhService">
    <wsdl:port name="PhapAnhServiceSoap" binding="tns:PhapAnhServiceSoap">
      <soap:address location="http://localhost:64712/PhapAnhService.asmx" />
    </wsdl:port>
    <wsdl:port name="PhapAnhServiceSoap12" binding="tns:PhapAnhServiceSoap12">
      <soap12:address location="http://localhost:64712/PhapAnhService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>