HK3/CongNgheLapTrinhHienDai/TaiLieu_BaiTap/D02/16HC_WebService/WinClient/Web References/CategoryServiceProxy/CategoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetList">
        <s:complexType />
      </s:element>
      <s:element name="GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListResult" type="tns:ArrayOfCategoryModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCategoryModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CategoryModel" nillable="true" type="tns:CategoryModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CategoryModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CatID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CatName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:portType name="CategoryServiceSoap">
    <wsdl:operation name="GetList">
      <wsdl:input message="tns:GetListSoapIn" />
      <wsdl:output message="tns:GetListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategoryServiceSoap" type="tns:CategoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategoryServiceSoap12" type="tns:CategoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="http://tempuri.org/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CategoryService">
    <wsdl:port name="CategoryServiceSoap" binding="tns:CategoryServiceSoap">
      <soap:address location="http://localhost:5992/CategoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="CategoryServiceSoap12" binding="tns:CategoryServiceSoap12">
      <soap12:address location="http://localhost:5992/CategoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>